* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    color: white;
    font-size: 14px;
    background-repeat: no-repeat;
    background-image: url('./image2.png'),
        radial-gradient(at 20% 20%, #ff0055 0px, transparent 50%),
        radial-gradient(at 80% 40%, #00ffcc 0px, transparent 50%),
        radial-gradient(at 40% 90%, #7000ff 0px, transparent 50%);
    background-color: #ff8c00;
    /* Cor de fundo base */
    background-size: 100%, 100%;
    background-attachment: fixed;
}

.mesh {
    background-color: #ff8c00;
    /* Cor de fundo base */
    background-image:
        radial-gradient(at 20% 20%, #ff0055 0px, transparent 50%),
        radial-gradient(at 80% 40%, #00ffcc 0px, transparent 50%),
        radial-gradient(at 40% 90%, #7000ff 0px, transparent 50%);
}

header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

header>nav>ul {
    display: flex;
    justify-content: space-between;
}

header>nav>ul>li {
    list-style: none;
    padding: 0px 10px;
    margin: 0px 4px;
}

h1 {
    font-size: 28px;
}

a {
    text-decoration: none;
    color: white;
}

.button {
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid white;
}

main {
    padding: 30px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

section.principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 42px;
}

.barra {
    backdrop-filter: blur(10px);
    background-color: transparent;
    box-shadow: 0px 0px 40px 2px #0461e476;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.694);
    padding: 10px 20px 10px 0px;
    width: calc(300px/ 1);
}

.barra>p {
    margin: 5px;
}

.barra>p>span {
    padding: 10px 12px;
    background-color: white;
    border-radius: 18px;
    color: black;
}

.content {
    position: relative;
}

.content>h2 {
    font-size: 70px !important;
    line-height: 105px;
}

.content>p {
    font-size: 18px;
    word-spacing: 4px;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btns>.button {
    margin: 10px;
}

.btns>.button:nth-child(1) {
    color: rgb(0, 0, 0);
}

.btns>.button:nth-child(2) {
    backdrop-filter: blur(4px);
    margin: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}


.barra2 {
    width: 92%;
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0px 10px;
    box-shadow: -2px 1px 3px rgba(255, 255, 255, 0.694);
    animation: scroll unset;
}

.barra2:focus {
    animation: scroll 2s unset;
}

@keyframes scroll {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

.barra2>div {
    width: 25%;
    padding: 10px 25px;
}

.barra2>div>h3 {
    font-size: 36px;
    line-height: 50px;
}

.barra2>div>p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 200;
    margin: 0;
    line-break: 3;
}